<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container m-3">
      <h2><%= blog.title%></h2>
      <img
        src="/cover_images/<%= blog.cover_img %>"
        style="height: 300px; width: 600px"
        alt=""
      />
      <p
        style="text-align: justify; line-height: 30px"
        class="text-justify mt-3"
      >
        <%= blog.body %>
      </p>
    </div>
    <%-include('./partials/footer') %>
  </body>
</html>
