<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <h2 class="m-3">BLOGS</h2>
    <div
      class="container m-3"
      style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 20px"
    >
      <% if (locals.blogs) { %> <% blogs.forEach(ele => { %>
      <div class="card" style="width: 18rem">
        <img src="/cover_images/<%= ele.cover_img %>" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title text-justify"><%= ele.title %></h5>
          <p class="card-text text-justify">
            <%= ele.body.slice(0,200)+" ..." %>
          </p>
          <a href="/blog/<%= ele._id %>" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <% }) %> <%} else { %>
      <h3>No Blogs to Display</h3>
      <% } %>
    </div>
    <%-include('./partials/footer') %>
  </body>
</html>
